<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email clients ignore most external CSS, keep it simple here */
    </style>
  </head>
  <body style="background-color: #f4f7fa;">
    <%= yield %>
  </body>
</html>